Unity/.consulo/
Unity/.vs/
Unity/Assets/AssetStoreTools*
Unity/Build/
Unity/Builds/
Unity/ExportedObj/
Unity/Library/
Unity/Obj/
Unity/Temp/
Unity/sysinfo.txt


*.apk
*.blend1
*.booproj
*.pdb
*.pidb
*.pidb.meta
*.sln
*.suo
*.svd
*.tmp
*.unitypackage
*.unityproj
*.user
*.userprefs